@font-face {
    font-family: 'ralewaymedium';
    src: url('/assets/raleway-medium-webfont.eot');
    src: url('/assets/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/raleway-medium-webfont.woff2') format('woff2'),
         url('/assets/raleway-medium-webfont.woff') format('woff'),
         url('/assets/raleway-medium-webfont.ttf') format('truetype'),
         url('/assets/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}