.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #54e3e3;
  border-left-width: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar.navbar-inverse {
  background: url('/assets/binding_dark.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  font-family: 'ralewaymedium', sans-serif;
  font-size: 26px;
  color: #54e3e3;
}

.has-error {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

.clear {
  clear: both;
}

.modal-header-comment {
  background-color: #428bca;
  height: 56px;
  color: #ffffff;
  padding-top: 1em;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-header-photo {
  background-color: #5cb85c;
  height: 56px;
  color: #ffffff;
  padding-top: 1em;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.buttons {
  margin-right: 150px;
}

.comment-button {
  padding-right: 10px;
}

#map {
  height: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/concrete_seamless.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans",
"DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana,
"Verdana Ref", sans-serif;
}

blockquote {
  background: #ffffff;
  quotes: "\201C""\201D""\2018""\2019";
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #54e3e3;
  border-left-width: 10px;
}

blockquote:before {
  color: #54e3e3;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}